<%- include('../public/partials/header.ejs') %>
<div class="blog-details-container">
  <div class="blog-details-card">
    <h1 class="blog-title">Title: <%= blogDetails.title %></h1>
    <p class="blog-author"><strong>Author:</strong> <%= blogDetails.author %></p>
    <p class="blog-description"><strong>Description:</strong> <%= blogDetails.description %></p>
  </div>
</div>
<%- include('../public/partials/footer.ejs') %>
